/* MAIN STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    /* Theses two styles below helped me keep the scroll bar at the bottom
    * Please don't ask me why
     */
    height: 100vh;
    overflow: auto;
}

/* HEADER STYLES */
header {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px 10px 15px;
}

header .search-box {
    width: 300px;
    height: 35px;
}

/* CHAT SECTION STYLES */
section {
    margin-top: 61px;
    /* Should be about the height of the header */
    padding-bottom: 65px;
    /* Should be about the height of the footer, don't know why I'm using padding but it works'
    /* Add a top margin to avoid content overlay for fixed top */
    background: #e5e5e5;
    flex: 1;
}

section .conversation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conversation li {
    display: flex;
    padding: 0.5em;
}

.conversation .sender {
    justify-content: flex-start;
}

.conversation .recipient {
    justify-content: flex-end;
}


.conversation .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
}

.conversation .recipient .messages {
    background-color: blue;
    color: white;
}

.messages .message {
    font-size: 0.9rem;
    margin: 0 0 0.2rem 0;
}

.messages .sender {
    font-size: 0.8rem;
    font-weight: 600;
}

.messages time {
    font-size: 0.8rem;
    color: #ccc;
}


/* FOOTER STYLES */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
}

footer .footer-input {
    height: 35px;
    flex: 1;
}

footer #message {
    width: 300px;
    flex: 2;
}

footer #messenger {
    width: 200px;
    flex: initial;
}