<footer>
    <input class="chat-box" type="text" placeholder="Type something to send..... &#x1F917;" />
</footer>

</section>
</section>

<script type="text/javascript" src="/js/libs/moment.js"></script>
<script type="text/javascript" src="/js/libs/socket.io.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>