<!-- HTML for static distribution bundle build
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lono SMS API</title>
    <link rel="stylesheet" type="text/css" href="/docs/swagger-ui.css" />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin: 0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="/docs/swagger-ui-bundle.js" charset="UTF-8"></script>
    <script
      src="/docs/swagger-ui-standalone-preset.js"
      charset="UTF-8"
    ></script>
    <script src="/js/swag.js">
      
    </script>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>ReDoc</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">

    <!--
    ReDoc doesn't change outer page styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url='/lono.json' options={
      x-codeSamples: {
        "lang": "JavaScript",
        "source": "console.log('Hello World');"
      }
    }></redoc>
    <script nonce="r4nd0m" src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
  </body>
</html>