<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lono - Chat like it's ur last...</title>
    <link rel="stylesheet" href="/css/common.css" />
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            overflow: hidden;
            /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
            font-family: 'Montserrat';
            font-weight: normal;
        }

        #main-header {
            background-color: #2892d7;
            color: #ffffff;
            display: flex;
            justify-content: flex-end;
            position: fixed;
            width: 100%;
            padding: 10px;
        }

        header .search-box {
            width: 325px;
            color: #969292;
            font-size: 15px;
            padding: 5px;
            border: 2px solid #d2e0da;
            border-radius: 10px;
        }

        /* SIDEBAR STYLES */

        #sidebar {
            /* width: 20%; */
            width: 200px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: #173753;
            overflow-y: auto;
            color: #ffffff;
        }

        #chat-container {
            /* width: 80%; */
            width: 960px;
        }

        aside .users {
            margin-top: 15px;
            list-style: none;
            flex-shrink: 1;
        }

        aside .users li {
            padding-bottom: 4px;
        }

        /* CHAT AREA STYLES */
        main {
            height: 100%;
            display: flex;
            overflow: hidden;
            padding-top: 50px;
        }

        main .column {
            height: 100%;
            /*allows both columns to span the full height of the browser window*/
            display: flex;
            flex-direction: column;
            /*places the left and right headers above the bottom content*/
        }

        main #chat-area {
            padding: 20px;
            overflow-y: auto;
        }

        /* CHAT STYLES */
        .conversation {
            list-style: none;
            padding: 0;
            margin-bottom: 50px;
        }

        .conversation li {
            display: flex;
            flex-direction: column;
            /* flex-wrap: wrap; */
            padding-bottom: 20px;
        }

        .conversation .message {
            background-color: #e5e5e5;
            color: #636060;
            padding: 5px;
            border-radius: 5px;
        }

        .conversation .message header {
            font-weight: bold;
            font-family: 'Raleway';
        }

        .conversation time {
            /* align-self: flex-start; */
            margin-top: 2px;
            margin-left: 5px;
            /* font-family: monospace; */
            font-weight: 100;
            color: #636060;
            font-size: 12px;
        }

        /* FOOTER STYLES */
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        footer .chat-box {
            background-color: #e5e5e5;
            width: 100%;
            border: 0;
            padding: 15px;
            font-size: 15px;
        }
    </style>
</head>

<body>

    <header id="main-header">
        <input class="search-box" placeholder="Looking for something..... &#129488;" />
    </header>

    <main>

        <aside id="sidebar" class="column">
            <p>AVAILABLE - <span>5</span></p>
            <ul class="users">
                <li>nathan</li>
                <li>amos</li>
                <li>sident</li>
                <li>godwin</li>
                <li>rudeen</li>
                <li>blessing</li>
                <li>kpetermeni</li>
            </ul>
        </aside>

        <section id="chat-container" class="column">

            <div id="chat-area">

                <ol class="conversation">
                    <li class='message-block'>
                        <article class="message">
                            <header class="sender">Blama Doe</header>
                            <p>Hello Konah, how are you doing?</p>
                        </article>
                        <time datetime="2009-11-13T20:00">Sat Apr 27 2019 • 4:24:25 PM</time>
                    </li>
                    <li class='message-block'>
                        <article class="message">
                            <header class="sender">Blama Doe</header>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </article>
                        <time datetime="2009-11-13T20:00">Sat Apr 27 2019 • 4:24:25 PM</time>
                    </li>
                    <li class='message-block'>
                        <article class="message">
                            <header class="sender">Blama konah</header>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, magni similique minus
                                doloribus minima ad nisi beatae numquam aspernatur. Lorem ipsum dolor sit, amet
                                consectetur adipisicing elit. Aspernatur reprehenderit adipisci eius quia! Nesciunt
                                maiores enim iure fugiat labore perferendis aut, libero id adipisci quasi tempore
                                voluptatibus reiciendis earum neque? Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Eos ipsa facere tempore maiores voluptate ut error excepturi labore alias impedit!
                                Blanditiis officia distinctio atque molestias aspernatur laboriosam, reiciendis ducimus
                                quisquam.</p>
                        </article>
                        <time datetime="2009-11-13T20:00">Sat Apr 27 2019 • 4:24:25 PM</time>
                    </li>

                </ol>

            </div>

            <footer>
                <input class="chat-box" type="text" placeholder="Type something to send..... &#x1F917;" />
            </footer>

        </section>



    </main>

    <script type="text/javascript" src="/js/libs/moment.js"></script>
    <script type="text/javascript" src="/js/libs/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>