<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lono - Chat like it's ur last...</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <!-- Login view -->
    <section id="login-page">
        <div class="welcome">
            Life is too short to not <span class="brand">Lono &#x1F917;</span>
        </div>

        <input class="user-handle" placeholder="What do you want to be know as?" />
        <div class="username-error">
            &#128577; Username is taken, please choose another....
        </div>
    </section>

    <section id="chat-page">

        <aside id="sidebar" class="column">
            <header>
                <div class="username">Hello, jonah
                    <span class="status idle"></span>
                </div>
                <button class="close-sidebar">&times;</button>
            </header>
            <p>AVAILABLE - <span class="users-count">0</span></p>
            <ul class="users">
                <li>

                    <div class="user-details">
                        <span class="name">john</span>
                        <span class="last-seen">last seen 9pm</span>
                    </div>
                    <span class="status offline"></span>
                </li>
                <li>
                    <div class="user-details">
                        <span class="name">nathan</span>
                        <span class="last-seen">last seen 8pm</span>
                    </div>
                    <span class="status online"></span>
                </li>
                <li>
                    <div class="user-details">
                        <span class="name">siafa</span>
                        <span class="last-seen">last seen 10pm</span>
                    </div>
                    <span class="status idle"></span>
                </li>
            </ul>
            <select class="user-status">
                <option value="online" selected>Online</option>
                <option value="idle">Idle</option>
            </select>
        </aside>

        <section id="chat-container" class="column">
            <header id="main-header">
                <button type="button" class="open-sidebar">&#9776;</button>
                <input class="search-box" placeholder="Looking for something..... &#129488;" />
            </header>
            <div id="chat-area">
                <ol class="conversation">
                    <!-- <li class="message-block">
                        <article class="message">
                            <header class="sender">Blama Doe</header>
                            <p>Hello Konah, how are you doing?</p>
                        </article>
                        <div class="message-status">
                            <time class="time"> 4:24 PM</time>
                            <span class="status">delivered</span>
                        </div>
                    </li>
                    <li class="message-block">
                        <article class="message">
                            <header class="sender">Blama Doe</header>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </article>
                        <div class="message-status">
                            <time class="time"> 4:24 PM</time>
                            <span class="status">delivered</span>
                        </div>
                    </li>
                    <li class="message-block">
                        <article class="message">
                            <header class="sender">Blama konah</header>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Saepe, magni similique minus doloribus minima ad nisi beatae
                                numquam aspernatur. Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Aspernatur reprehenderit adipisci eius
                                quia! Nesciunt maiores enim iure fugiat labore perferendis
                                aut, libero id adipisci quasi tempore voluptatibus
                                reiciendis earum neque? Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Eos ipsa facere tempore
                                maiores voluptate ut error excepturi labore alias impedit!
                                Blanditiis officia distinctio atque molestias aspernatur
                                laboriosam, reiciendis ducimus quisquam.
                            </p>
                        </article>
                        <div class="message-status">
                            <time class="time"> 4:24 PM</time>
                            <span class="status">delivered</span>
                        </div>
                    </li> -->
                </ol>
            </div>

            <footer>
                <input class="chat-box" type="text" placeholder="Type something to send..... &#x1F917;" />
            </footer>
        </section>
    </section>

    <script type="text/javascript" src="/js/libs/moment.js"></script>
    <script type="text/javascript" src="/js/libs/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>