<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lono - Chat like it's ur last...</title>
    <link rel="stylesheet" href="/css/common.css" />
    <style>
        body {
            background: url('/images/background.svg');
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Montserrat';
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 120px;
        }

        main .welcome {
            color: #ffffff;
            text-align: center;
            font-size: 50px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        main .welcome .brand {
            font-family: 'Pacifico';
        }

        main .user-handle {
            font-family: 'Raleway';
            font-size: 20px;
            width: 40%;
            padding: 10px;
            border: 5px solid #d2e0da;
            color: #636060;
            border-radius: 10px;
            flex-grow: 1;
        }
    </style>
</head>

<body>
    <main id="welcome-container">
        <div class="welcome">Life is too short to not <span class="brand">Lono &#x1F917;</span></div>

        <input class="user-handle" placeholder="What do you want to be know as?">
    </main>

    <script type="text/javascript" src="/js/libs/moment.js"></script>
    <script type="text/javascript" src="/js/libs/socket.io.js"></script>
    <script type="text/javascript" src="/js/init-socket.js"></script>
    <script>
        const userHandle = document.querySelector(".user-handle");

        userHandle.addEventListener('keydown', event => {

            if (event.code !== "Enter") return; // Do nothing when user doesn't press enter to send message

            const username = event.target.value;

            if (username.length === 0) return; // Do nothing when message input is empty

            // navigate to chat room
            window.location.href = 'http://localhost:4000/chat';

            // emit add user event
            addUser(username);

        });

        const addUser = username => socket.emit('addUser', username);
    </script>
</body>

</html>